<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/stylesheets/matches.css">
    <title>MATHCHES</title>
</head>

<body>
    <header class="header">
        <% include partials/nav.ejs %>
    </header>
    <section>
        <div class="matches-container">
            <h1>India's Tour of England 2018</h1>
                    <div class="matches">
                        <h1>
                            <strong>
                               <%=matchname%> 
                            </strong>
                        </h1>
                        <ul>
                            <li>
                                <%=teams%>
                            </li>
                            <li>
                                Date: <%=date%>
                            </li>
                            <li>
                                Location :<%=location%>
                            </li>
                            <li>
                                Toss : <%=toss%>
                            </li>
                            <li>
                                Score : <%=score%>
                            </li>
                            <li>
                                Winner : <%=winner%>
                            </li>
                            <li>
                               Man of the Match :<a href="../players/<%=mom%>"><%=playername%></a>
                            </li>
                        </ul>
                    </div>
                </a>
        </div>
    </section>

</body>

</html>