<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/stylesheets/matches.css">
    <title>MATCHES</title>
</head>

<body>
    <header class="header">
        <% include partials/nav.ejs %>
    </header>
    <section>
        <div class="matches-container">
            <h1>India's Tour of England 2018</h1>

            <% matches.forEach(match =>{ %>

                <h1>
                    <strong>
                        <a href="/matches/<%= match.match_id%>"> <%= match.matchname%> </a>
                    </strong>
                </h1>
                <ul>
                    <li>
                        <%=match.teams%>
                    </li>
                    <li>
                        <%=match.date%>
                    </li>
                    <li>
                        <%=match.location%>
                    </li>

                </ul>

                <%})%>

        </div>
    </section>

</body>

</html>