<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/stylesheets/playerdetails.css" type="text/css">
    <title>PLAYERS</title>
</head>

<body>
    <header class="header">
        <% include partials/nav.ejs %>
    </header>
    <section>
        <div class="players-container">
            <div class="cards">
                <div>
                    <h3>Name:
                        <%= player.playername %>
                    </h3>
                    <img class="image" src="/assets/images/<%-player.player_id-%>.jpg">
                </div>
                <div class="details">
                    <p>Details
                        <ul>
                            <li>
                                <strong>Age:</strong>
                                <%=player.age %>
                            </li>
                            <li>
                                <strong>Born:</strong>
                                <%= player.born %>
                            </li>
                            <li>
                                <strong>Role:</strong>
                                <%=player.role %>
                            </li>
                            <li>
                                <strong>Batting Style</strong>
                                <%= player.battingstyle %>
                            </li>
                            <li>
                                <strong>Bowling Style</strong>
                                <%=player.bowlingstyle %>
                            </li>
                        </ul>
                    </p>
                </div>


            </div>
        </div>

    </section>

</body>

</html>