<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/stylesheets/players.css" type="text/css">
    <title>PLAYERS</title>
</head>

<body>
    <header class="header">
        <% include partials/nav.ejs %>
            <!-- <div class="tabs">
            <h2>
                <a href="./home.html">HOME</a>
            </h2>
        </div>
        <div class="tabs">
            <h2>
                <a href="./players.html"></a>PLAYERS</h2>
        </div>
        <div class="tabs">
            <h2>
                <a href="./ranking.html"></a>RANKINGS</h2>
        </div> -->
    </header>
    <section>
        <div class="players-container">
            <% players.forEach((player) => { %>
                <div class="cards">
                    <div class="details">
                        <h3>Name:
                            <%= player.playername %>
                        </h3>
                        <p>Details
                            <ul>
                                <li>
                                    <strong>Age:</strong>
                                    <%= player.age %>
                                </li>
                                <li>
                                    <strong>Born:</strong>
                                    <%= player.born %>
                                </li>
                                <li>
                                    <strong>Role:</strong>
                                    <%= player.role %>
                                </li>
                                <li>
                                    <strong>Batting Style</strong>
                                    <%= player.battingstyle %>
                                </li>
                                <li>
                                    <strong>Bowling Style</strong>
                                    <%= player.bowlingstyle %>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
                <% }); %>
        </div>

    </section>

</body>

</html>